<?xml version="1.0"?>

<!--
Copyright 2025 Husarion. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="wibotic_receiver"
               params="parent_link
                       xyz:='0.0 0.0 0.0'
                       rpy:='0.0 0.0 0.0'
                       robot_namespace:=''
                       component_name:=''">

    <xacro:if value="${component_name == ''}">
      <xacro:property name="component_name" value="wibotic_receiver" />
    </xacro:if>

    <xacro:property name="robot_namespace_slash" value="${robot_namespace + '/' if robot_namespace != '' else ''}" />
    <xacro:property name="component_name_underscore" value="${component_name + '_' if component_name != '' else ''}" />

    <joint name="${parent_link.rstrip('_link')}_to_${component_name_underscore}joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent_link}" />
      <child link="${component_name_underscore}mount_link" />
    </joint>

    <link name="${component_name_underscore}mount_link">
      <visual>
        <origin xyz="0.01 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://husarion_components_description/meshes/wibotic_receiver.dae" />
        </geometry>
        <material name="Grey">
          <color rgba="0.15 0.15 0.15 1.0" />
        </material>
      </visual>

      <collision>
        <origin xyz="-0.018 0.0 0.085" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.015 0.135 0.19" />
        </geometry>
      </collision>

      <collision>
        <origin xyz="0.004 0.0 0.115" rpy="0.0 ${pi/2} 0.0" />
        <geometry>
          <cylinder length="0.03" radius="0.07" />
        </geometry>
      </collision>
    </link>

    <joint name="${component_name_underscore}mount_link_to_${component_name_underscore}coil_joint" type="fixed">
      <origin xyz="0.018 0.0 0.115" rpy="0.0 0.0 0.0" />
      <parent link="${component_name_underscore}mount_link" />
      <child link="${component_name_underscore}coil_link" />
    </joint>

    <link name="${component_name_underscore}coil_link" />

  </xacro:macro>
</robot>
