<?xml version="1.0" encoding="utf-8"?>
<robot name="component" xmlns:xacro="http://wiki.ros.org/xacro">
  <link name="cover_link" />

  <xacro:arg name="components_config_path" default="''" />
  <xacro:property name="components_config_path_property" value="$(arg components_config_path)" />

  <xacro:if value="${components_config_path_property != ''}">
    <xacro:include filename="$(find husarion_components_description)/urdf/components.urdf.xacro" ns="husarion_components" />

    <xacro:husarion_components.create_components
      components_config_path="${components_config_path_property}"
      namespace="" />
  </xacro:if>

</robot>
